body{
  background-color: #abdbe3;
}

h1{
  text-align: center;
}

.wrapper{
  margin: 7vh;
  margin-right: 50vh;
  margin-left: 60vh;
}

.collapsible{
  max-width: 500px;
  overflow: hidden;
  font-weight: 500;
}

.collapsible input{
  display: none;
}

.collapsible label{
  position: relative;
  font-weight: 600;
  background: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1),0 4px 11px 0 rgba(0, 0, 0, .08);
  color: #1c1c6b;
  display: block;
  margin-bottom: 5vh;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  z-index: 1;
   margin-top: 4vh;
}

.collapsible label:after{
  content: "";
  position: absolute;
  right: 15px;
  top: 13px;
  width: 18px;
  height: 20px;
  background: url(reshot-icon-arrow-chevron-right-WDGHUKQ634.svg) no-repeat 0 0;
  transition: all 0.3s ease;
}

.collapsible input:checked + label:after{
  transform: rotate(90deg);
}

.collapsible-text{
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.collapsible input:checked ~ .collapsible-text{
  max-height: 350vh;
  padding-bottom: 25px;
  background: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1),0 4px 11px 0 rgba(0, 0, 0, .08);
  opacity: 1;
  top: 0;
}

.collapsible-text h2{
  margin-bottom: 10px;
  padding: 15px 15px 0;
  color: #1c1c6b;
}

.collapsible-text p{
  padding-left: 15px;
  padding-right: 15px;
}