* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #abdbe3;
}

.title {
  text-align: center;
  margin-top: 7vh;
  font-size: 10vh;
  border: 2px solid black;
  width: 80vh;
  height: 30vh;
  padding-top: 40px;
  margin-right: 70vh;
  margin-left: 70vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.container {
  border: 2px solid white;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
    0px 10px 10px rgba(0, 0, 0, 0.2), 0px -10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  width: 175vh;
  height: auto;
  margin-left: 20vh;
  margin-right: 50vh;
  margin-top: 10vh;
  gap: 4vh;
}

.card {
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.from{
  border: 2px solid white;
  margin-left: 180vh;
  margin-top: -35vh;
  margin-right: 5vh;
  font-size: 15px;
  background-color: white;
}